{% extends 'homeLogin.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'formAsesoria.css' %}">
</head>
<div class="form-container">
    <h1 class="text-white"style="background-color: green;"><dt>Formulario asesoría</dt></h1>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <dt><h5>{{ field.label_tag }}</dt></h5>
        <dt><h5>{{ field }}</dt></h5>
        {% endfor %}
        <button type="submit">Enviar</button>
        <button type="reset">Cancelar</button>
    </form>
</div>
{% endblock %}