{% extends 'homeNoLogin.html' %}
{% block content %}

<div class="container p-3 my-5 border text-white" style="background-color:rgb(0,153,34)">
    <div class="spinner-grow text-muted"></div>
    <h1>Página Inicio</h1>
    <p>En esta sección encontrarás información general de todas las subdivisiones identicadas en la barra de navegación, incluyendo la sección de solicitudes que está dividido en PQRSF y Asesorias.</p>
  </div>
  
  <div class="container p-3 my-5 border text-white" style="background-color:rgb(7,70,140)">
    <div class="spinner-grow text-muted"></div>
    <h1>Página Clasificador de Basura</h1>
    <p>En esta sección encontrarás la utilización del la clasificadora de la basura, en esta sección deberás subir desde tu galería una foto tomada o imagen y por medio de una inteligencia artificial, el sistema te dará qué tipo de basura es el objeto que hay en la imagen. Además, te entregará en qué empresas de la ciudad de Medellín que recicla esa basura.</p>
    <p>Nuestro objetivo es promover el reciclaje y contribuir a la protección del medio ambiente. A través de esta herramienta, buscamos generar conciencia sobre la importancia de la clasificación adecuada de la basura y fomentar prácticas sostenibles en la comunidad, mostrando así que la tecnología podemos trabajar juntos para el cuidado del medio ambiente.</p>
  </div>
  
  <div class="container p-3 my-5 text-white" style="background-color:rgb(6,12,153)">
    <div class="spinner-grow text-muted"></div>
    <h1>Página Calculadora de Huella de Carbono</h1>
    <p>En esta sección encontrarás una herramienta para calcular tu huella de carbono personal. Podrás ingresar información sobre tus hábitos diarios relacionados con la energía, transporte, alimentación y consumo, y la calculadora te proporcionará una estimación de tu impacto ambiental.</p>
    <p>Nuestro objetivo es crear conciencia sobre el cambio climático y fomentar prácticas sostenibles. Al conocer tu huella de carbono, podrás identificar áreas donde puedes reducir tus emisiones y tomar medidas para mitigar tu impacto en el medio ambiente.</p>
    <p>Además, en esta sección encontrarás consejos y recomendaciones para reducir tu huella de carbono. Te ofrecemos información sobre eficiencia energética, transporte sostenible, consumo responsable y otras acciones que puedes tomar para vivir de manera más sostenible.</p>
  
  </div>

  <div class="container p-3 my-5 text-white" style="background-color:rgb(12,137,248)">
    <div class="spinner-grow text-muted"></div>
    <h1>Página Solicitudes</h1>
    <p>En esta sección podrás realizar tus PQRSF (Peticiones, Quejas, Reclamos, Sugerencias y Felicitaciones) y solicitar asesorías relacionadas con nuestros servicios.</p>
    <p>Entendemos la importancia de tus opiniones y estamos comprometidos en brindarte una atención de calidad. A través de nuestros formularios de PQRSF, podrás expresar tus inquietudes, comentarios y sugerencias para mejorar nuestros productos y servicios.</p>
    <p>Además, si necesitas asesoramiento o tienes dudas sobre algún aspecto de nuestros productos, nuestro equipo de expertos está disponible para brindarte la información y el apoyo que necesitas. Puedes solicitar asesorías personalizadas completando el formulario correspondiente.</p>
    <p>Nos preocupamos por tu satisfacción y estamos comprometidos en brindarte respuestas oportunas y soluciones efectivas. Valoramos tu participación y estaremos atentos a tus consultas y solicitudes.</p>
    <p class="text-danger">Importante: en el momento estamos trabajando para conectar nuestro correo con el tuyo, regálanos un poco de paciencia</p>
  </div>
{% endblock content %}