{% extends 'homeNoLogin.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="Marco text-center" style="max-width: 1400px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
                <div class="card">
                    <h2>Iniciar Sesión</h2>
                    <div class="card-body">
                        {% if error %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}
                        <p class="card-text">
                            <div class="logo-container">
                                <img src="{% static 'logoCC.png' %}" alt="Logo" style="width: 150px; height: auto;">
                            </div>
                            <form method="POST" class="white-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-success center-button">Login</button>
                            </form>
                        </p>
                        <p class="card-text">
                            <a href="http://127.0.0.1:8000/" class="btn btn-secondary center-button">
                            Sign Up
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
