{% extends 'homeLogin.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'formCalculator.css' %}">
</head>
<div class="form-container">
    <h2><dt>Formulario Huella de Carbono</dt></h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <h5><dt>{{ field.label_tag }}</dt></h5>
            <dt>{{ field }}</dt>
        {% endfor %}
        <button type="submit">Enviar</button>
        <button type="reset">Cancelar</button>
    </form>
</div>
{% endblock %}